.footer {
    background-color: #1b1b1b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.footer .logo img {
    max-width: 50px;
    margin-right: 10px;
}
.footer .logo h2 {
    margin: 0;
    font-size: 24px;
}
.footer .about, .footer .social {
    margin-bottom: 10px;
}
.footer .social a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}
.footer .social a:hover {
    color: #3049d8;
}
.footer p {
    margin: 0;
}
 /* Agrega los colores representativos a los iconos de redes sociales */
.footer .social a.facebook:hover,
.footer .social a.facebook:active {
color: #1877f2; /* Color de Facebook */
}

        .footer .social a.instagram:hover,
        .footer .social a.instagram:active {
            color: #e4405f; /* Color de Instagram */
        }

        .footer .social a.whatsapp:hover,
        .footer .social a.whatsapp:active {
            color: #25d366; /* Color de WhatsApp */
        }
