.card {
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.09);
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
@media (max-width: 768px) {
    .col-sm-6 {
        padding: 0 5px;
    }
    .card-img-top {
        height: 150px;
    }
}

/* Agregar de espacio a los lados */

#main-container {
  max-width: 1200px; /* Ajusta este valor según tus necesidades */
  margin: 0 auto;
  background-color: white;}


@media (max-width: 1200px) {
  #main-container {
    width: 95%; /* En pantallas más pequeñas, usa un porcentaje del ancho */
  }
}
