        @media (max-width: 768px) {
            .menu {
                display: none;
                flex-direction: column;
                position: absolute;
                top: 4em;
                left: 0;
                width: 100%;
                background-color: #333;
                padding: 0;
            }
            .menu li {
                text-align: center;
                margin: 0;
                border-bottom: 1px solid #666;
            }
            .hamburger {
                display: block;
            }
            #menu-toggle:checked+.menu {
                display: flex;
            }
        }
