<hr>
<footer style="background-color: #f2f2f2; padding: 20px; text-align: center;">
  <h2>David's BarberShop</h2>
  <p>Además de un buen corte, sabemos que nuestros clientes necesitan, una excelente atención, relajación, comodidad y confianza en un agradable ambiente</p>
  <div>
        <a href="https://www.facebook.com/DavidsBarberShop7?mibextid=ZbWKwL" style="margin: 0 10px;" class="facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/davidsbarbershop7/" style="margin: 0 10px;" class="instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://wa.me/50372048125?text=Está%20disponible???" style="margin: 0 10px;" class="whatsapp">
            <i class="fab fa-whatsapp"></i>
        </a>  
  </div>
  <p>&copy; <span id="currentYear">2024</span> David's Barbershop. All rights deserveds.</p>
</footer>
<br>
<script>
