<footer class="footer">
  <div class="logo">
      <img src="assets/cilindro.png" alt="logo">
      <h2>David's Barbershop</h2>
  </div>
  <div class="about">
      <p>Tu estilo, nuestra pasión   ISAIAS 41:13.</p>
  </div>
  <div class="social">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a> 
      <a href="#"><i class="fab fa-whatsapp"></i></a>
  </div>
  <br>
  <p>&copy; <span id="currentYear">2024</span> David's Barbershop. All rights deserveds.</p>
</footer>
<script>
  document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
