    <nav class="navbar">
        <a href="#" class="navbar-brand">David's BarberShop</a>
        <div class="navbar-toggle" onclick="toggleNavbar()">☰</div>
        <div class="navbar-links">
            <a href="#">Inicio</a>
            <a href="#">Galería</a>
            <a href="#">Contacto</a>
        </div>
    </nav>

    <script>
        function toggleNavbar() {
            var navbarLinks = document.querySelector('.navbar-links');
            navbarLinks.classList.toggle('active');
        }
    </script>
