    <nav class="navbar">
        <a href="index.html" class="navbar-brand">David's BarberShop</a>
        <div class="navbar-toggle" onclick="toggleNavbar()">☰</div>
        <div class="navbar-links">
            <a href="index.html">Inicio</a>
            <a href="galeria.html">Galería</a>
            <a href="contacto.html">Contacto</a>
        </div>
    </nav>

    <script>
        function toggleNavbar() {
            var navbarLinks = document.querySelector('.navbar-links');
            navbarLinks.classList.toggle('active');
        }
    </script>
