<body>
    <div class="navbar" id="myNavbar">
        <a href="#home">Inicio</a>
        <a href="#news">Noticias</a>
        <a href="#contact">Contacto</a>
        <a href="#about">Acerca de</a>
        <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">&#9776;</a>
    </div>

    <script>
        function toggleNavbar() {
            var x = document.getElementById("myNavbar");
            if (x.className === "navbar") {
                x.className += " responsive";
            } else {
                x.className = "navbar";
            }
        }
    </script>
